.navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 25px;
  margin: auto;
}

.nav-item  {
  display: flex;
}

.nav-item > li {
  margin: 5px;
}

.nav-item > li:hover {
  color: gray
}